<div class="how-section1">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img src="/assets/img/doctor2.png" class="img-fluid">
          </div>
          <div class="col-md-8">
            <h5 class="card-title text-center mb-4">Doctor Details</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="font-weight-bold  mr-2">Name:</span>
                Dr. Jane Smith
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold mr-2">Specialization:</span>
                Pediatrics
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold mr-2">Experience:</span>
                15
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold mr-2">Email:</span>
                jane.smith@example.com
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 