.form-container {
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(14, 132, 228, 0.3);
    border-radius: 10px;
  }
  
  .left-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-column {
    flex: 1;
    padding-left: 50px;
  }
  
  .docImg {
    max-width: 100%;
    height: auto;
    padding: 0 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #444;
  }
  
  .button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* background-color: #007bff; */
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  
  /* button[type="submit"]:hover {
    background-color: #0062cc;
  } */
  .docImg{
    height: 250px;
    width: 350px;
  }

  .head{
    margin-left: 500px;
    font-family: 'Lato', sans-serif;
  }