
<div class="how-section1">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/img/patient.png" class="img-fluid">
          </div>
          <div class="col-md-8">
            <h5 class="card-title text-center mb-4">Patient Details</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="font-weight-bold  mr-2">Name:</span>
                {{patientDetails.patientName}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold mr-2">Age:</span>
                {{patientDetails.age}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold mr-2">Sex:</span>
                {{patientDetails.gender}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold mr-2">Email:</span>
                {{patientDetails.email}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold mr-2">Phone:</span>
                {{patientDetails.contact}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold mr-2">Blood Group:</span>
                {{patientDetails.bloodGroup}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold mr-2">DOB:</span>
                {{patientDetails.dob}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>