<div class="container">

    <h2>Admin Dashboard</h2>
    <a style="color: rgb(86, 86, 86); font-size: x-large;">
        <marquee behavior="scroll" direction="left">
            Welcome to Admin Dashboard. Please find the patient and doctor list below!!</marquee>
    </a>
    <hr>
    <!-- <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search">  -->
    <br>
    <a style="color: rgb(86, 86, 86); font-size: xx-large;">Patient List</a>
    <div class="tableFixHead">
        <br>
        <table class="table table-striped">
            <thead class="table-header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>DOB</th>
                    <th>Contact</th>
                    <th>Blood Group</th>
                    <th>Email</th>
                    <th>Disease</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>6553b27d2af8505c128ebd7f</td>
                    <td>Nathan Brown</td>
                    <td>28</td>
                    <td>Male</td>
                    <td>1992-06-15</td>
                    <td>123-456-7890</td>
                    <td>AB+</td>
                    <td>nathan.brown@example.com</td>
                    <td>No serious medical history</td>

                </tr>
                <tr>
                    <td>6553b27d2af8505c128ebd80</td>
                    <td>Emily Smith</td>
                    <td>32</td>
                    <td>Female</td>
                    <td>1988-08-20</td>
                    <td>987-654-3210</td>
                    <td>O+</td>
                    <td>emily.smith@example.com</td>
                    <td>Asthma and allergies</td>

                </tr>
                <tr>
                    <td>6553b27d2af8505c128ebd81</td>
                    <td>Jack Rodriguez</td>
                    <td>24</td>
                    <td>Male</td>
                    <td>1996-04-02</td>
                    <td>456-789-1230</td>
                    <td>B+</td>
                    <td>jack.rodriguez@example.com</td>
                    <td>Broken leg from a sports injury</td>

                </tr>
                <tr>
                    <td>6553b27d2af8505c128ebd82</td>
                    <td>Sophie Davis</td>
                    <td>19</td>
                    <td>Female</td>
                    <td>2001-12-10</td>
                    <td>789-123-4560</td>
                    <td>A+</td>
                    <td>sophie.davis@example.com</td>
                    <td>Appendectomy surgery</td>

                </tr>
                <tr>
                    <td>6553b27d2af8505c128ebd83</td>
                    <td>Oliver Taylor</td>
                    <td>40</td>
                    <td>Male</td>
                    <td>1980-03-25</td>
                    <td>321-789-4560</td>
                    <td>AB-</td>
                    <td>oliver.taylor@example.com</td>
                    <td>High blood pressure</td>

                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <a style="color: rgb(86, 86, 86); font-size: xx-large;">Doctor List</a>
    <div class="tableFixHead">
        <table class="table table-striped">
            <thead class="table-header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Specialization</th>
                    <th>Experience</th>
                    <th>License Number</th>
                    <th>Email</th>
                    <th>Password</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>6553a770522c4c5c88f4f14d</td>
                    <td>Dr. Jane Smith</td>
                    <td>Pediatrics</td>
                    <td>15</td>
                    <td>AKH48125</td>
                    <td>jane.smith@example.com</td>
                    <td>password123</td>

                </tr>
                <tr>
                    <td>6553a770522c4c5c88f4f14e</td>
                    <td>Dr. William Lee</td>
                    <td>Cardiology</td>
                    <td>10</td>
                    <td>BCC64859</td>
                    <td>william.lee@example.com</td>
                    <td>PaSsw0rd!!</td>


                </tr>
                <tr>
                    <td>6553a770522c4c5c88f4f14f</td>
                    <td>Dr. Sarah Kim</td>
                    <td>Dermatology</td>
                    <td>5</td>
                    <td>FDO78502</td>
                    <td>sarah.kim@example.com</td>
                    <td>QwErTy!1</td>

                </tr>
                <tr>
                    <td>6553a770522c4c5c88f4f150</td>
                    <td>Dr. Thomas Chen</td>
                    <td>Oncology</td>
                    <td>20</td>
                    <td>LTV12907</td>
                    <td>thomas.chen@example.com</td>
                    <td>abc123XYZ!</td>

                </tr>
                <tr>
                    <td>6553a770522c4c5c88f4f151</td>
                    <td>Dr. Maria Rodriguez</td>
                    <td>Internal Medicine</td>
                    <td>8</td>
                    <td>ZYC84906</td>
                    <td>maria.rodriguez@example.com</td>
                    <td>ChangeMe!1</td>

                </tr>
            </tbody>
        </table>
    </div>