.card {
  
    width: 100%;
    /* margin: auto; */
    margin-top: 50px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;  
  }
  
  .card-img {
    height: 400px;
    width: 380px;
    margin-top: 70px;
    /* border-radius: 50%; */
  }
  
  .card-title {
    font-size: 40px;
    margin-top: 60px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .card-text {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* .card-text p {
    text-align: center;
  } */
  
  .btn-primary {
    margin-top: 20px;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }