<div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/img/home3.jpg" class="card-img" alt="Patient Image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Welcome to Health Life</h5>
          <div class="card-text text-center justify-content-center">
            <p>At Health Life, we believe that taking control of your health should be easy. That's why we provide a centralized platform where you can manage all your health needs in one place.</p>
            <p>Whether you need to update your personal information, book appointments with doctors, or view their details, Health Life has got you covered. Our user-friendly interface makes it easy for you to manage all aspects of your health.</p>
            <p>We understand that staying healthy can be overwhelming, but with Health Life, you'll have the support you need every step of the way. Our team of dedicated professionals is here to help answer any questions you may have about your health.</p>
          </div>
          <a class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
  </div>