

  <title>Health Information and Education</title>


<body>
  <header>
    <h1>Health Information and Education</h1>
    <br>
    <h2>Providing reliable health information and educational resources</h2>
  </header>
  <main>
    <article>
      <h3>Understanding Diabetes</h3>
      <p>Diabetes is a disease that affects how your body uses glucose, a type of sugar that is a critical source of
        energy for your body. When you have diabetes, your body either doesn't make enough insulin or can't use the
        insulin it makes as well as it should. This causes sugar to build up in your blood, which can lead to serious
        health problems like heart disease, stroke, blindness, kidney failure, and amputations.</p>
      <p>Learn more about managing diabetes <a
          href="https://www.who.int/news-room/fact-sheets/detail/diabetes#:~:text=Overview,hormone%20that%20regulates%20blood%20glucose.">here.</a>
      </p>
    </article>
    <article>
      <h3>Caring for Your Mental Health</h3>
      <p>Good mental health is important to overall health and well-being. It affects how we think, feel, and act.
        Mental health also helps determine how we handle stress, relate to others, and make choices. Taking care of your
        mental health can protect your physical health and help you enjoy life. There are many things you can do to
        improve your mental health, including getting enough sleep, eating a healthy diet, staying active, practicing
        mindfulness or meditation, and seeking support from others when you need it.</p>
      <p>Learn more about managing mental health <a
          href="https://www.who.int/news-room/fact-sheets/detail/mental-health-strengthening-our-response">here.</a></p>
    </article>
    <article>
      <h3>Healthy Eating and Nutrition</h3>
      <p>Good nutrition is essential for good health. Eating a balanced diet that includes a variety of fruits,
        vegetables, whole grains, lean proteins, and healthy fats can help you maintain a healthy weight, reduce your
        risk of chronic diseases, and promote overall well-being. It's also important to limit your intake of processed
        foods, sugary beverages, and foods high in saturated and trans fats.</p>
      <p>Learn more about managing healthy eating and Nutrition<a
          href="https://www.who.int/news-room/fact-sheets/detail/mental-health-strengthening-our-response">here.</a></p>
    </article>
    <article>
      <h3>Managing High Blood Pressure</h3>
      <p>High blood pressure, or hypertension, is a common condition that can lead to serious health problems like heart
        disease and stroke. Lifestyle changes like losing weight, exercising regularly, and eating a healthy diet can
        help lower blood pressure. Medications may also be necessary to manage high blood pressure.</p>
      <p>Learn more about managing high blood pressure<a
          href="https://www.who.int/news-room/fact-sheets/detail/hypertension#:~:text=If%20you%20have%20high%20blood%20pressure%2C%20your%20doctor%20may%20recommend,disease%20(heart%20disease%20or%20stroke)">here.</a>
      </p>
    </article>
    <article>
      <h3>Sleep Hygiene</h3>
      <p>Getting enough sleep is essential for good health and well-being. Sleep is important for physical health,
        cognitive function, and emotional well-being. Poor sleep habits can lead to a variety of health problems,
        including obesity, diabetes, depression, and cardiovascular disease. To promote good sleep, it's important to
        practice good sleep hygiene, which includes things like establishing a regular sleep schedule, creating a
        comfortable sleep environment, and avoiding caffeine and alcohol before bed.</p>
      <p>Learn more about sleep hygiene<a href="https://www.who.int/publications/i/item/9789241550536 ">here.</a></p>
    </article>
  </main>


  <footer>
    <p>&copy; Health Information and Education</p>
  </footer>
</body>